* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* CSS variables rules */
:root {

    /* CSS Color variables */
    --color-gray: #152D35;
    --color-dark-gray: #112031;
    --color-light-gray: #345B63;

    --color-sky: #A1C4CF;
    --color-light-sky: #D4ECDD;
    --color-sky-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /* Font Size variables */


    /* Font Family variables */
    --Abel: "Abel", sans-serif;
    --Anton: "Anton", sans-serif;
    --Josefin-Sans: "Josefin Sans", sans-serif;
    --Lexend-Deca: "Lexend Deca", sans-serif;
    --Livvic: "Livvic", sans-serif;


    /* Margin and Padding variables */
    --rem-0-5: .5rem;
    --rem-1: 1rem;
    --rem-1-5: 1.5rem;
    --rem-2: 2rem;

}


/* Global classes rules */
body {
    font-family: sans-serif;
}

a {
    color: var(--color-gray);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}


/* Navigation bar rules */
nav {
    background: white;
    padding: 0 var(--rem-2);
    overflow: hidden;
    /* transition: height 1s ease-in-out; */
}

.nav-menu {
    justify-content: space-between;
    align-items: center;
}

.nav-brand a {
    display: block;
    font-family: var(--Lexend-Deca);
    font-size: 2rem;
    padding: 0;
}

.toggle {
    cursor: pointer;
    display: none;
}

.toggle-icon i {
    color: var(--color-gray);
    font-size: 1.4rem;
}

.nav-items {
    display: flex;
    margin: 0;
}

.nav-link {
    font-family: var(--Abel);
    font-size: 1.1rem;
    padding: var(--rem-1);
}

.nav-link:hover {
    background-color: var(--color-gray);
}

.nav-link:hover a {
    color: white;
}

.social {
    padding: 0;
}

.social i {
    padding: .2rem .2rem 0 .2rem;
}

.social i:hover {
    color: var(--color-sky);
}
