html, body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0%;
}


/* CSS variables rules */
:root {
    /* CSS Color variables */
    --text-gray: #3f4954;
    --text-light-gray: #686666da;

    --midnight: #104f55;

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /* Font Family variables */
    --Abel: 'Abel', cursive, sans-serif;
    --Anton: 'Anton', cursive, sans-serif;
    --Josefin: 'Josefin Sans', cursive, sans-serif;
    --Lexend: 'Lexend Deca', cursive, sans-serif;
    --Livvic: 'Livvic', cursive, sans-serif;
}


/* Global classes rules */
a {
    text-decoration: none;
    color: var(--text-gray);
}

ul {
    list-style-type: none;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Navigation bar rules */
.nav-bar {
    background: white;
    height: 0rem;
    padding: 0 2rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav-bar .nav-menu {
    justify-content: space-between;
}

.nav-bar .nav-brand a {
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
    padding: 1rem 0;
}

.collapse {
    height: 30rem;
}

.nav-bar .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    display: none;
    cursor: pointer;
}

.nav-bar .toggle-collapse .toggle-icon {
    color: var(--text-gray);
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav-bar .nav-items {
    display: flex;
    margin: 0;
}

.nav-bar .nav-items .nav-link {
    font-family: var(--Abel);
    font-size: 1.1rem;
    padding: 1.3rem 1rem;
    position: relative;
}

.nav-bar .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav-bar .nav-items .nav-link:hover a {
    color: white;
}

.nav-bar .social {
    padding: 1.5rem 0;
}

.nav-bar .social i {
    padding: 0 .2rem;
}

.nav-bar .social i:hover {
    color: #a1c4cf;
}


/* Viewport less than or equal to 750px */
@media only screen and (max-width: 750px) {
    .nav-bar .nav-menu,
    .nav-bar .nav-items {
        flex-direction: column;
    }

    .nav-bar .toggle-collapse {
        display: initial;
    }
}

/* Viewport less than or equal to 520px */
@media only screen and (max-width: 520px) {
    .nav-bar .toggle-collapse {
        width: 80% !important;
    }
}
